### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
test-client/test-client.iml
rpc-common/rpc-common.iml
rpc-core/rpc-core.iml
test-server/test-server.iml
rpc-api/rpc-api.iml
rpc-api/target
rpc-common/target
test-client/target
test-server/target
*.ipr
*.mvn